name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Publish release to PyPI
    if: startsWith(github.ref, 'refs/tags/python')
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/starpoint
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    defaults:
      run:
        working-directory: ./starpoint
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_KEY }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine
      - name: Build package
        run: |
          python -m build
          twine check --strict dist/*
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./starpoint/dist/
